.user img {
    max-width: 200px;
}

.user h2 {
    margin: 12px 0;
    font-family: sans-serif;
    color: aqua;
    transition: 0.4s;
    &:hover {
        color: azure;
    }
}

.user {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.profile-flex {
    display: flex;
    justify-content: center;
}

.profile-flex > img {
    border-radius: 50%;
    border: 1px solid white;
}

.user > p {
    color: white;
    font-family: sans-serif;
    text-align: center;
    max-width: 240px;
}

.user > a {
    all: unset;
    cursor: pointer;
}