.user img {
    max-width: 200px;
}

.user h2 {
    color: blue;
    transition: 0.4s;
    &:hover {
        color: black;
    }
}

.users {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 12px;
}

.user {
    background-color: white
}