.users {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 12px;
    padding: 32px 0;
}

.users-container {
    max-width: 1240px;
    margin: 0 auto;
}

.loading {
    color: aqua;
    font-size: 40px;
}

.pages {
    margin: 20px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    gap: 8px;
}